Makefile
config.h
config.log
config.status
libtool
sqlite3.pc
.libs/
.target_source
fts5.c
fts5.h
fts5parse.c
fts5parse.h
fts5parse.out
fts5parse.sql
fts5parse.y
keywordhash.h
lemon
lemon.dSYM/
lempar.c
libsqlite3.la
mkkeywordhash
mkkeywordhash.dSYM/
mksourceid
mksourceid.dSYM/
opcodes.c
opcodes.h
parse.c
parse.h
parse.out
parse.sql
parse.y
shell.c
sqlite3
sqlite3.c
sqlite3.dSYM/
sqlite3.h
sqlite3.lo
sqlite3.o
sqlite3ext.h
sqlite3session.h
tsrc/